[submodule ".registry"]
	path = .registry
	url = https://github.com/mcsiple/universe
	shallow = true
	branch = HEAD
[submodule "mmrefpoints"]
	path = mmrefpoints
	url = https://github.com/mcsiple/mmrefpoints
	shallow = true
	registered = true
